/*##############################
###  Main page element  ########
##############################*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#pagecontent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  float: left;
}

#sidetab {
  width: 310px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  display: block;
  float: right;
  position: absolute;
  right: 0;
}

/*##############################
###        Classes      ########
##############################*/

.sidegroup {
  margin: 16px 0 0 0;
  padding: 0;
  border-radius: 32px;
  background: #0095cd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#00adee, #0078a5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#00adee, #0078a5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00adee, #0078a5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#00adee, #0078a5); /* Standard syntax (must be last) */
  border: 2px solid black;
  height: 165px;
}

.sideelement {
  padding: 8px 0 0 0;
}

.textinput {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #0076a3;
  border-right: 0;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

.searchbutton {
  padding: 4px 15px;
}

.signal_info_div {
  text-align: left;
}

.signal_info_icon {
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;
}

.signal_info_text {
  display: inline-block;
}

.signal_info_text p {
  margin: 0;
}

/*##############################
###           IDs       ########
##############################*/

#sidetext {
  padding: 12px 0 8px 0;
}

/*##############################
###          Misc       ########
##############################*/

p {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 0.25px black;
  font-size: 1.1em;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  cursor: pointer;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}
