/*##############################
###  Main page element  ########
##############################*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#pagecontent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

/*##############################
###        Classes      ########
##############################*/

.main {
  margin-bottom: 48px;
  display: inline-grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 8px;
}

.specific {
  text-align: center;
  background-color: #E6E6E6;
  border: 1px solid black;
}

/*##############################
###           IDs       ########
##############################*/

#import {
  grid-template-rows: 125px;
}

#update_sql {
  grid-template-rows: 125px 125px;
}

#import_old {
  grid-template-rows: 140px;
}

#network_import {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#location_import {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#client_import {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#sql_network {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#sql_location {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#router_vendor {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#client_vendor {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#connected_in_network {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#probing_in_network {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#old_network_import {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#old_location_import {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#client_import_1dot2-rc1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*##############################
###          Misc       ########
##############################*/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  margin-bottom: 48px;
}

h3 {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

p {
  margin: 8px 5px auto 5px;
}

form {
  padding: 10px;
}
