/*##############################
###  Main page element  ########
##############################*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#pagecontent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  float: left;
}

#sidetab {
  width: 315px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  display: block;
  float: right;
  position: absolute;
  right: 0;
}

/*##############################
###        Classes      ########
##############################*/

.sidegroup {
  margin: 16px 0 0 0;
  padding: 0;
  border-radius: 32px;
  background: #0095cd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#00adee, #0078a5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#00adee, #0078a5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00adee, #0078a5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#00adee, #0078a5); /* Standard syntax (must be last) */
  border: 2px solid black;
}

.sideelement {
  padding: 8px 0 0 0;
}

.textinput {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #0076a3;
  border-right: 0;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

.searchbutton {
  padding: 4px 15px;
}

.encryption_item_div {
  text-align: left;
}

.infoWindowSearchButton {
  margin-top: 5px;
  padding: 4px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3;
  border-right: 0;
  background: #0095cd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#00adee, #0078a5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#00adee, #0078a5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00adee, #0078a5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#00adee, #0078a5); /* Standard syntax (must be last) */
  border-radius: 5px;
}

.checkbox-radio_div {
  display: inline-block;
}

.checkbox-radio_div p {
  margin: 0;
}

.searchinfotype {
  padding-top: 8px;
  padding-bottom: 8px;
}

.searchinfo_icon_and_headline {
  vertical-align: middle;
  display: inline-block;
}

.image {
  float: left;
}

.searchinfotext {
  vertical-align: middle;
  display: inline-block;
  width: 80%;
}

/*##############################
###           IDs       ########
##############################*/

#securitycheckboxes {
  padding: 8px;
  display: grid;
}

#encryption_grid_item_open {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#encryption_grid_item_wpa-with-wps {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#encryption_grid_item_wep {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#encryption_grid_item_wpa-without-wps {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#last_seen_text {
  margin-top: 0;
  margin-bottom: -14px;
  font-size: 1em;
}

#date_selector_area {
  display: grid;
}

#ds_grid_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
}

#ds_grid_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
}

#ds_grid_3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

#ds_grid_4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
}

#clientcheckboxarea {
  padding: 8px 0 8px 0;
}

#vendorarea {
  padding: 8px 0 8px 0;
}

#predefined_search_header {
  margin-top: 0;
  margin-bottom: -14px;
}

#predefined_search_group {
  padding: 8px 0 8px 0;
}

#sidetext {
  padding: 12px;
}

/*##############################
###          Misc       ########
##############################*/

p {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 0.25px black;
  font-size: 1.1em;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}
